/*
Only use Classes to make it easier to control.

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
53118f
- Primary: #53118f 
- Tints:
#ff7700
#ff8c28
#64299a 

- Complimentary: 
#ba661c

- Lights 
#eee7f4
#ddcfe9
#c1a9d7

///////////
- Greys
#888


--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/


/* Always use this to fix browser padding, margin and set the box sizing of the whole page*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 
    Neat feature to adjust the size of the font easier 
    - Percentage of user's browser font-size setting 
  */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  /* Always set the most generic/repeatable code in the body */
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
/* Body Color */
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

/**************************/
/* 
  GENRAL REUSABLE COMPONENTS 
  
  These lines of code can be reused in multile html items
*/
/**************************/

.container {
  /* 
    The most efficent way of sizing everything is by using "rem"
      - 1 rem = 16px 
      - % are good for images mostly, but rem is much better in general 
  */

  /* This sets the max width to 1920px (120rem x 16px = 1920px)*/
  /* Always use width rather max-width*/
  max-width: 120rem;

  /* Always good to add padding as well */
  padding: 0 3.2rem;

  /* Easiest way to center a containger is: margin: 0 auto;*/
  margin: 0 auto;
}

/* CSS Grid Layout would be good to use in my Portfolio Section and Footer*/
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

}

/* Optimization: Based on the child position*/
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

/* Mobile Grid Optimization BELOW 544px*/
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
/* Smaller Tablet Grid Optimization BELLOW 704px */
/* This only is connected to the html(Portfolio container)*/
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
/* This is connected only to the querries(CSS Mobile Optimization Code)*/
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--center-v {
  align-items: center;
}

/* HEAD SECTIION */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
/* Heading Color */
  color: #333;
  letter-spacing: -0.5px;
  margin-top: 1rem;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
/* SubHeading Color */
  color: #64299a ;  
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/* 
FIX WORDING HRISTO!!!!!
  BUTTON SECTION 
  Always include :link, :visited, :hover, :active
    - Seperate by 2(:link, :visited,) by 2 (:hover, :active)
*/
  /* START Normal Buttons */
    .btn,
    .btn:link,
    .btn:visited
    .project {
      display: inline-block;
   
      text-decoration: none;
      font-size: 2rem;
      font-weight: 600;
      padding: 1.6rem 3.2rem;
      border-radius: 9px;

      /* Only necessary for .btn */
      border: none;
      cursor: pointer;
      font-family: inherit;

      /* Put transition on original "state" */
      /* transition: background-color 0.3s; */
      transition: all 0.3s;
    }
  /* END Normal Buttons */


  .btn--portfolio--page:hover{
    background: #c1a9d7;
    transform: translateX(3rem);
  }
  /*START Portfolio Buttons  */
    /* START LEFT BUTTON EFFECTS */
    .btn--full:link,
    .btn--full:visited {
    /* Button Most Right Viited Color*/
    background: rgb(149,82,22);
    background: linear-gradient(0deg, rgba(149,82,22,1) 22%, rgba(167,92,25,1) 49%, rgba(193,117,51,1) 87%, rgba(200,133,73,1) 99%);
      color: #eee7f4;
    }
    .btn--full:hover,
    .btn--full:active {
    /* Button Most Right Viited Color */
      color: #64299a;
      background-color: #ddcfe9;
      background: linear-gradient(0deg, #ddcfe9 22%, #ddcfe9 49%, #ddcfe9 87%, #ddcfe9 99%);
    }
    /* END LEFT BUTTON EFFECTS */


    /* START RIGHT BUTTON EFFECTS */
    .btn--outline:link,
    .btn--outline:visited {
    /* Button Most Right Viited Color */
      background-color: #eee7f4;
      color: #64299a;
    }
    .btn--outline:hover,
    .btn--outline:active {
      background-color: #64299a;
      color: #fdf2e9;
      box-shadow: inset 0 0 0 3px #64299a;
    }
    /* END RIGHT BUTTON EFFECTS */
  /*END Portfolio Buttons  */
/* FIX WORDING HRISTO*/


/* Reusable Class Button Effects */
/* Links */
.link:link,
.link:visited {
  display: inline-block;
  color: #53118f;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #64299a;
  border-bottom: 1px solid transparent;
}

/* List */
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
/* List Colors */
  color: #53118f;
}

/* When the user presses the Tab key, it focuses on a button */
/* EXTRA BUTTON EFFECTS */
*:focus {
  outline: none;

  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

/* 
  HELPER/SETTINGS CLASSES 
  - Use them for neccesery adjustments to items
  - Easy to add as a class
  - the "!important" line gives the class the highest priority 
*/
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.center-text {
  text-align: center;
}
strong {
  font-weight: 500;
}

